<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>identifier</key>
            <string>basket.social</string>
            <key>title</key>
            <string>社交</string>
            <key>pageIndex</key>
            <integer>0</integer>
            <key>slotIndex</key>
            <integer>0</integer>
            <key>bundleIDs</key>
            <array>
                <string>com.tencent.xin</string>
                <string>com.apple.MobileSMS</string>
                <string>com.zhihu.ios</string>
                <string>com.ss.iphone.ugc.Aweme</string>
            </array>
        </dict>
    </array>
</dict>
</plist>
